# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.dbg