{% extends "layout.html" %}

{% block title %}
  tweet with chai
{% endblock %}

{% block content %}
  <h2 class="text-center mt-4">Welcome! To TweetHub chai with friends</h2>

  <h2>
    {% if form.instance.pk %}
      Edit tweet
    {%else%}
        create tweet
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
    <a href="{% url 'tweet_list' %}">back to tweet list</a>
  </h2>
{% endblock  %}